/**
 * SimpleTalk Core CSS
 * ---------------------------------
 * This CSS file includes all "public" stlying for
 * the base PartViews, like WorldView, StackView, etc.
 * If you come across behavior not defined in this file,
 * be sure to check the Shadow DOM styling for the given
 * View components.
 **/

/* Global Variables */
:root {
    --marching-ant-width: 1px;
    --marching-ant-length: 10px;
    --marching-ant-color: black;
    --palette-yellow: #ffea95;
    --palette-blue: #004b67;
    --palette-green: #41ccb4;
    --palette-orange: #ff7c5d;
    --palette-red: #c70151;
    --palette-cornsik: #FFF8DC;
    --container-default-width: 20vw;
    --container-default-height: 15vh;
    --drawing-default-width: 500px;
    --drawing-default-height: 300px;
    --field-default-width: 40vw;
    --field-default-height: 30vh;
}

/* Keyframe Animations */
@keyframes marching-ants-animation {
    0%   {background-position: 0 0, var(--marching-ant-length) 100%, 0 var(--marching-ant-length), 100% 0;}
    100% {background-position: var(--marching-ant-length) 0, 0 100%, 0 0, 100% var(--marching-ant-length);}
}

/* Prerequisites */
* {
    visibility: initial;
    box-sizing: border-box;
}

body {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Crimson Pro";
}

.active {
    outline: solid var(--palette-orange) 1px;
}

/* =World Styles
 *----------------------------------------------------*/
st-world {
    visibility: hidden;
}


/* =Stack Styles
 *----------------------------------------------------*/
st-stack {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

st-window st-stack {
    display: block;
}
.current-stack {
    display: block;
}

/* =Card Styles
 *----------------------------------------------------*/
st-card {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.current-card,
st-card[role="lens"] {
    display: block;
    visibility: initial;
    background-color: var(--palette-blue);
}

/* =Button Styles
 *----------------------------------------------------*/
st-button {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--palette-yellow);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(50, 50, 50);
    user-select: none;
    margin-left: -1px;
    margin-right: -1px;
}

st-button:not(.editing):hover {
    cursor: pointer;
}

st-button:(.editing){
    background-color: white;
    color: black;
}
/* =Window Styles
 *----------------------------------------------------*/
st-window {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: var(--palette-blue);
    border: 1px solid rgba(100, 100, 100, 0.2);
    box-shadow: 3px 4px 4px 0px rgba(50, 50, 50, 0.3);
    z-index: 100;
}

st-window:active {
    z-index: 100;
}

/* =Area Styles
 *---------------------------------------------------------*/
st-area {
    position: absolute;
    border: 1px solid rgb(150, 150, 150);
    width: var(--container-default-width);
    height: var(--container-default-height);
}

st-area:empty {
    display: block;
    position: absolute;
    border: 1px solid rgb(150, 150, 150);
    width: var(--container-default-width);
    height: var(--container-default-height);
}
-----------------*/


/* =Svg Styles
 *---------------------------------------------------------*/
st-svg {
    display: block;
    position: absolute;
    /* border: 1px solid rgb(150, 150, 150);*/
}

/* =Drawing Styles
 *----------------------------------------------------*/
st-drawing {
    background-color: #1fe0; /* transparent */
    position: absolute;
}

/* =Field Styles
 *----------------------------------------------------*/
st-field {
    width: var(--field-default-width);
    height: var(--field-default-height);
    position: absolute;
    background-color: var(--palette-cornsik);
}

/* =Layout Class Styles
 * --------------------------------------------------------*/
.list-layout {
    display: flex;
    flex-direction: row;
}

st-world > st-stack > :not(.current-card).list-layout {
    display: none;
}

.list-column {
    flex-direction: column;
}

.list-layout:not(.list-column).list-align-top {
    align-items: start;
}

.list-layout:not(.list-column).list-align-bottom {
    align-items: end;
}

.list-layout.list-column.list-align-left {
    align-items: start;
}

.list-layout.list-column.list-align-right {
    align-items: end;
}

.list-layout.list-align-center {
    align-items: center;
}

.list-layout.list-distribution-center {
    justify-content: center;
}

.list-layout.list-distribution-start {
    justify-content: start;
}

.list-layout.list-distribution-end {
    justify-content: end;
}

.list-layout.list-distribution-space-between {
    justify-content: space-between;
}

.list-layout.list-distribution-space-around {
    justify-content: space-around;
}

.wrap-list {
    flex-wrap: wrap;
    align-content: start;
}

.list-layout > * {
    position: relative !important;
    top: auto !important;
    left: auto !important;
}

.list-layout > st-window,
.list-layout > st-button-editor {
    position: absolute;
    top: unset;
    left: unset;
}

.list-layout.list-column > .h-space-fill {
    width: 100% !important;
}

.list-layout:not(.list-column) > .v-space-fill {
    height: 100% !important;
}

.list-layout.list-column > .v-space-fill,
.list-layout:not(.list-column) > .h-space-fill {
    flex: 1;
    height: auto !important;
}

.list-layout:not(.list-column) > .h-rigid {
    flex: none;
}

.v-shrink-wrap {
    height: max-content !important;
}

.h-shrink-wrap {
    width: max-content !important;
}

.pin-top {
    top: 0 !important;
    bottom: unset !important;
}

.pin-bottom {
    bottom: 0 !important;
    top: unset !important;
}

.pin-left {
    left: 0 !important;
    right: unset !important;
}

.pin-right {
    right: 0 !important;
    left: unset !important;
}

/* =Layout Exceptions
 * --------------------------------------------------------*/
/* We don't want list-layout to display on Cards when they
 * are not current in the current stack (but we want this
 * in stack windows) */
/* st-stack.current-stack > st-card.list-layout:not(.current-card){ */
/*     display: none; */
/* } */
wrapped-view st-stack st-card:not(.current-card){
    display: none;
}

wrapped-view > st-card {
    display: block;
}

/* =Utility Classes
 * --------------------------------------------------------*/
.editing {
    background-image: linear-gradient(90deg, var(--marching-ant-color) 50%, transparent 50%),
        linear-gradient(90deg, var(--marching-ant-color) 50%, transparent 50%),
        linear-gradient(0, var(--marching-ant-color) 50%, transparent 50%),
        linear-gradient(0, var(--marching-ant-color) 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: var(--marching-ant-length) var(--marching-ant-width), var(--marching-ant-length) var(--marching-ant-width), var(--marching-ant-width) var(--marching-ant-length), var(--marching-ant-width) var(--marching-ant-length);
    animation: marching-ants-animation 400ms infinite linear;
    border-color: transparent;
}

.editable {
    outline: solid 1px var(--palette-orange);
}
